@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.div-principal {
    animation: inicializar .7s forwards;
    height: 100vh;
    width: 100%;
    background-image: url(./assets/background.png);
    background-size: cover;
    background-position: center;
    background-color: #191919;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px 0 30px;
}

.portfolio {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 600;
}

.portfolio span {
    color: #973549;
}

li {
    color: #FFFFFF;
    list-style: none;
    display: inline-block;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
}

li:hover {
    color: #973549;
    transition: 0.5s;
}

li:active {
    opacity: .5;
}

.meu-nome {
    position: absolute;
    top: 50%;
    left: 7%;
}

.links {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: #FFFFFF;
    font-size: 75px;
}

.meu-nome h3 {
    color: #973549;
    font-size: 40px;
}

@keyframes inicializar {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

section {
    display: flex;
    align-items: center;
    padding: 200px 25%;
    background-color: #000000;
    height: 100vh;
    width: 100vw;
}

section img {
    height: 300px;
    border-radius: 100%;
    border: 3px solid #973549;
    margin-right: 50px;
}

section div h2 {
    color: #FFFFFF;
    font-size: 75px;
}

section div p {
    color: #973549;
    width: 700px;
    font-size: 24px;
    text-align: center;
    margin: 20px 0 60px 0;
}

section div button {
    color: white;
    background: #973549;
    height: 60px;
    width: 200px;
    font-size: 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

section div button:hover {
    background-color: #000000;
    border: 3px solid #973549;
    transition: 0.3s;
}

.projetos {
    background-color: #191919;
    padding: 50px 0 120px 0;

}

.projetos h2 {
    color: #FFFFFF;
    font-size: 75px;
    text-align: center;
}

.card {
    background-color: #000000;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
}

.card:hover {
    border: 3px solid #973549;
    transition: 0.5;
}

.card img {
    height: 100px;
}

.card h5 {
    color: #FFFFFF;
    font-size: 24px;
}

.card p {
    color: #FFFFFF;
    margin: 20px 0 40px;
}

.card a {
    background-color: #973549;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
}

.card a:hover {
    background-color: transparent;
    border: 2px solid #973549;
    transition: 0.5ms;
}

.card-projetos {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

footer {
    background-color: #000000;
    padding-top: 100px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h5 {
    color: #FFFFFF;
    font-size: 30px;
}

footer p {
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 14px;
}

.social {
    display: flex;
    gap: 20px;
}

.social a {
    background-color: #973549;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    text-decoration: none;
}

.social a:hover {
    transform: scale(1.3);
    transition: 0.5ms;
    opacity: 0.8;
}

.copyright {
    font-family: sans-serif;
    font-weight: lighter;
    margin-top: 140px;
}

@media screen and (min-width: 1112px) {
    section {
        padding: 100px 15%;
    }
} /*Este media query é para telas de notebook*/

@media screen and (max-width: 900px) {
    .div-principal {
        animation: inicializar .7s forwards;
        height: 100vh;
        width: 100%;
        background-image: url(./assets/background.png);
        background-size: cover;
        background-position: center;
        background-color: #191919;
    }
    
    nav ul {
        display: none;
    }
    
    .portfolio {
        font-size: 30px;
        font-weight: 600;
    }
    
    .meu-nome {
        top: 37%;
    }
    
    section {
        margin: 0;
        padding: 0;
        height: 100vh;
        max-width: 100%;
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
    }
    
    section img {
        height: 250px;
        margin-right: 0px;
    }

    section div h2 {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        font-size: 40px;
    }
    
    section div p {
        width: auto;
        padding-left: 50px ;
        padding-right: 50px;
        padding-bottom: 10px;
    }
    
    section div button {
        margin: 0 auto;
        display: block;
    }

    section div a {
        text-decoration: none;
    }

    .projetos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-projetos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    
    .projetos h2 {
        margin-bottom: 0;
        font-size: 38px;
        max-width: 85%;
    }
    
    .card {
        height: 315px;
        width: 315px;
        margin-top: 20px;
    }
    
    .card img {
        height: 70px;
    }
    
    footer h5 {
        color: #FFFFFF;
        font-size: 30px;
    }
    
    footer p {
        font-size: 18px;
        margin-bottom: 30px;
        margin-top: 14px;
    }
    
    .copyright {
    font-size: 14px;
    }
}